@font-face {
  font-family: 'Tangak';
  src: url('/fonts/tangak.ttf') format('truetype'),
       url('/fonts/tangak.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.page {
  font-family: 'Tangak', sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
}