.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(100% - 4px);
}

.mainTitle {
  font-family: 'Tangak', sans-serif;
  font-size: 35px;
  color: black;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -1px;
  text-align: center;
  max-width: 280px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;

  @media (max-width: 991px) {
    &.extended {
      max-width: 360px;
    }
  }

  @media (min-width: 992px) {
    font-size: 80px;
    width: 96%;
    max-width: 1100px;
    height: 100px;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
  
    &.extended {
      margin-top: 275px;
    }
    &.wide {
      max-width: 1200px;
    }
  }
}

.visionTitle {
  color: grey;
  margin-top: -27px;
  max-width: 80%;
  @media (min-width: 992px) {
    margin-top: -80px;
  }
}

.subtitle {
  font-family: 'Tangak', sans-serif;
  color: black;
  font-size: 20px;
  opacity: 0.6;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0px;
  text-align: center;
  width: 94%;
  margin-top: -20px;

  @media (min-width: 992px) {
    font-size: 30px;
    width: 96%;
    max-width: 1228px;
    margin-top: -70px;
  }
}
