@font-face {
  font-family: 'Tangak';
  src: url('/fonts/tangak.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100vh;
  width: 100%;
  min-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: 'Tangak', sans-serif;
}

body {
  position: relative;
}

#root {
  min-height: 100vh;
  width: 100%;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 415px) {
  html,
  body,
  #root,
  .page {
    width: 100vw;
    min-width: 100vw;
    overflow-x: hidden;
  }
}