.reviewContainer {
  display: flex;
  position: relative;
  width: 100%;

  @media (max-width: 991px) {
    width: 100%;
    overflow: visible;
    gap: 2px;
  }

  @media (min-width: 992px) {
    width: 100%;
    margin-left: 150px;
    overflow: visible;
    gap: 4px;
  }
}

.slideWrapper {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
  align-items: center;
}
